<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!--<add key="upload.file.path" value="C:\Users\VEE-IT\Desktop\CIP\Output\"/>-->
		<add key="upload.file.path" value="E:\CMS_DATA\Contracts\MeetingAgenda\Test\"/>
		<add key="MeetingAgenda.pdf.mail" value="AMann@medicount.com,TNewcomb@medicount.com,arengasamy@medicount.com" />
		<add key="MeetingAgenda.Refresh" value="1000.112a40713a680d7b9a98a087bc7967d3.d5dc0e63f99db75a3247955e7c7f04e8" />
		<add key="MeetingAgenda.Error.mail" value="vanithac@medicount.com" />


		<!-- SANDBOX -->
		<add key="SandboxZohoClientId" value="1000.3HHDEDJVG1AUKGJE5CE9MIB5Y5ZNRU" />
		<add key="SandboxZohoClientSecret" value="b6fd13c8bfba69f871f6328cd66ea4668281a9ba81" />
		<add key="SandboxZohoRefreshToken" value="1000.2d373efad2966b088592f55034c32978.46e33dfd2b3d18137e2c4d8ee201742c" />

		<!-- LIVE -->
		<add key="ZohoClientId" value="1000.3RM0RTZ9SYK6T7NVXOR1SO9AGTWKKX" />
		<add key="ZohoClientSecret" value="1994a5763642b1ce66752381e89a9439614e1d7baf" />
		<add key="ZohoRefreshToken" value="1000.218c5d57eb0fce9818b28d7975d4268f.ef359db2e2cd4b32b772a416c8f14952" />

		<add key = "ZohoAuthenticationUrl" value="https://accounts.zoho.com/oauth/v2/token" />
		<add key="RunEnvironment" value="TEST" /><!--**IMPORTANT** Need to set 'LIVE' for production and 'TEST' for testing-->

	</appSettings>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=MEDI-SQL02.medicountdom.com; Initial Catalog=MeetingAgenda_Test; User ID=WebUser; Password='$t3v3$uck$@$$';Connect Timeout=900;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
    <customErrors mode="Off"></customErrors>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="itnotifications@medicount.com">
				<!-- <network host="medicount-com.mail.protection.outlook.com" port="25" userName="medicountdom\itnotifications" password="d0nt@skm3" /> -->
				<network host="medicount-com.mail.protection.outlook.com" port="25" userName="itnotifications@medicount.com" password="**92|charge|TRIES|rolled|65**"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>